# Database
DATABASE_URL=postgresql://stpetemusic:password@stpetemusic-postgres.cmnogyowgoe1.us-east-1.rds.amazonaws.com:5432/stpetemusic

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG9sZXJhbnQtYmVkYnVnLTcyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_H5txN46uVvAIQG2NHug4I7JonyEiAiPHVROomEkPAe
CLERK_WEBHOOK_SECRET=whsec_xxx

# App Config
NEXT_PUBLIC_SITE_URL=http://localhost:3001
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
